@model IEnumerable<SistemaWeb.Models.Departamento>

@{
    ViewData["Title"] = "Cadastro De Departamento";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    <a class="btn btn-info" asp-action="Create">Novo Departamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="text-right">
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
